* {
  box-sizing: border-box;
}

html, 
body, 
button,
a,
input,
ul {
  margin: 0;
  padding: 0;
}

button,
a,
input {
  outline: none;
  border: none;
}

button,
a {
  cursor: pointer;
}

li,
h3 {
  list-style: none;
}

.body {
  background-color: #333;
  color: #f8f8f8;
  font-family: Helvetica, Arial, sans-serif;
}


.page_main{
  height: calc(100% - 50px);
}

.page_wrapper{
  width: 100%;
  height: 100vh;  
  color: #ccc;
  font-family: helvetica, arial, sans-serif;
}